@font-face {
  font-family: "Raleway.ttf";
  src: url("Raleway-Black.ttf") format "truetype";

}

.container {
max-width: 1500px;
margin: auto;
width: 100%;
padding: 0 15px; 
}

header {
display: flex;
height: 80px;
}

header a {
line-height: 64px;
}

header li {
margin-right: 45px;

}

.logo {
  height: 60px;
  display: flex;
}



.unrated {
  color: #f2f2f2 ;
}

.boutons {
  margin-left: auto;
}

.boutons_h {
  display: flex;
  list-style-type: none;
  height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hebergements,
.activites:hover{
  color: #0065fc;
}

.hebergements {
  border-top : 3px solid #0065FC
}



.s_inscrire {
color: #0065fc;
font-weight: bold;
display: flex;
justify-content: flex-end;
text-decoration: none;

}


.s_inscrire:visited { color: #0065fc; }





.titre {

  margin-bottom: 50px;
  font-family: Raleway;
}

h2 {
  font-size: 20px;
}

.local {
  display: flex;

  width: 20%;
  height: 40px;

  font-size: 18px;
  font-weight: bold;
  font-family: Raleway;

  border: 2px solid;
  border-radius: 10px 10px 10px 10px;
  border-color: #f2f2f2;
}

.fleche {
  display: flex;
  font-family: "Font Awesome 5 Free";
  margin-top: 0px;

  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;

  border-radius: 10px 0px 0px 10px;
  border-left-width: 30px;

  background-color: #f2f2f2;
}

.ville {
  display: flex;
  height: 36px;
  border: none;
  
}



.rechercher {
  display: flex;

  padding-top: 5px;
  padding-right: 35px;
  padding-left: 30px;

  margin-left: 10px;
  margin-right: 0px;


  border-radius: 0px 10px 10px 0px;

  color: white;
  background-color: #0065fc;
}

.fas.fa-search {
  display: none;
}


.filtres {
  font-family: Raleway;
  font-weight: bold;

}

.filtres_titre {
  display: flex;



  font-weight: bold;
  font-family: Raleway;
  font-size: 20px;

}

#Filtre_bouton {
  display: flex;

  flex-wrap: wrap;

  font-weight: bold;
  font-family: Raleway;
  font-size: 20px;
}

#Filtre_bouton h2 {
margin-top: 40px;

}

.eco_,
.fam_,
.rom_,
.ani_
 {
  display: flex;
  color: #0065fc;

  border: 3px solid;
  border-radius: 30px 30px 30px 30px;
  border-color: #f2f2f2;
  
  margin: 30px;
  padding-right: 10px;

}

.eco_:hover,
.fam_:hover,
.rom_:hover,
.ani_:hover {
cursor: pointer;
transition-duration: 0.5s;
background-color: #e2ecff;
}


.eco,
.fam,
.rom,
.ani {
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;


}

.eco_i,
.fam_i,
.rom_i,
.ani_i {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #0065fc;

  background-color: #deebff;

  border-radius: 30px 30px 30px 30px;

  height: 40px;
  width: 40px;
}

.info {
  display: flex;
  margin-top: 50px;  
  margin-bottom: 50px;
}

.info_i {
  display: flex;
  justify-content: center;
  align-items: center;


  color: #0065fc;

  border: 2px solid;
  border-radius: 30px 30px 30px 30px;
  border-color: #f2f2f2;

  width: 30px;
  height: 30px;
}

.info_ {
  display: flex;
  margin-left: 10px;
  margin-top: 8px;
  font-family: Raleway;
}

.heber_ {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  margin-right: 60px;

  width: 67%;
}

.heber_titre {
  margin-left: 20px;
  align-items: center;
}


.heber_titre,
.popu_titre {
  display: flex;
  font-family: Raleway;
}


.heber_card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}




.afficher,
.afficher:visited {
  color: #000000;
  text-decoration: none;
  margin-left: 25px;
}


.canneb,
.mouette,
.port,
.mer,
.panier,
.amina {
  border-width: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid;
  border-color: white;
  width: 16rem;
  height: 15rem;
  margin-right: 20px;
    flex: 1 0 31%;

  background-color: white;
  overflow: hidden;
}




.img_heber {
  height: 45%;
  width: 100%;
 object-fit: cover;
}



.stars_mars,
.stars_popu {
  color: #0065fc;

}



.star_unrate {
  color: #f2f2f2;
}

.mer,
.panier,
.amina {
  margin-top: 20px;

}

.popu_ {
  display: flex;
  width: 35%;
  
  background-color: #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
}

.popu_cards {
  margin-top : 15px;
}

.popu_titre {
  flex-direction: column;
}

.popu_2 {
  display: flex;
  align-items: center;
}

.popu_2 .fas.fa-chart-line {
  margin-left: auto; 
  padding: 20px;
}



.soleil,
.eau,
.bleu_blanc {
  display: flex;
  height: 27%;
  width: 100%;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid;
  border-color: white;

  background-color: white;
  overflow: hidden;

  margin-bottom: 8%;
}

.txt_popu { 
width: 59%;
padding: 0 0 0 13px;
}



.img_soleil,
.img_eau,
.img_bleu_blanc {
  
  width: 34%;
  object-fit: cover;

}

.marseille_titre {
  display: flex;

  margin-top: 50px;
  margin-left: 50px;

  font-weight: bold;
  font-size: 20px;
}

.marseille h3 {
  height: 30px;
  margin: 10px;
  line-height: 30px;
}

.vieux_port,
.calanques {
  border-width: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid;
  border-color: white;
  border-bottom-width: 0px;
  box-shadow: 0.5px 0.5px 10px;
  overflow: hidden;

  box-sizing: border-box;

  background-color: white;
}

.marseille a {
  border-width: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid #ffffff;
  border-color: white;

  box-shadow: 0.3px 0.3px 5px;
  overflow: hidden;

  box-sizing: border-box;

  background-color: white;
  
}

.img_vieux_port,
.img_calanques {
  height: calc(100% - 50px);
  object-fit: cover;
  width: 200%;
}

.img_pomegues {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: cover;
}

.img_garde {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: cover;
}

.img_frioul {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: cover;
}

.img_longchamp {
  height: calc(100% - 50px);
  width: 100%;
  object-fit: cover;
}

.propos {
  display: flex;
  justify-content: space-between;

  border: 4px solid;
  border-color: #f2f2f2;
  background-color: #f2f2f2;

  margin-top: 40px;
}


#activites_ {
  margin-top: 30px;
}


* {
  box-sizing: border-box;
  font-family: "Raleway.ttf";
}

.propos div {
  flex: 1;
}

.propos h3 {
  margin-left: 40px;
}

.propos_txt,
.heber_f_titre,
.assis_titre {
  list-style-type: none;
}




body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

footer {
  background-color: #f2f2f2;

}

.propos li{
  margin-bottom: 20px;
}

footer .container {
  padding: 20px;
  
}

#hebergement {
  display: flex;
}

/*GRID*/

.marseille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 0.070fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  max-width: 1500px;

}

.vieux_port {
  grid-area: 1 / 1 / 11 / 2;
}

.pomegues {
  grid-area: 1 / 2 / 7 / 3;
}

.frioul {
  grid-area: 7 / 2 / 11 / 3;
}

.calanques {
  grid-area: 1 / 3 / 11 / 4;
}

.garde {
  grid-area: 1 / 4 / 6 / 5;
}

.longchamp {
  grid-area: 6 / 4 / 11 / 5;
}

/*RESPONSIVE*/


/*Tablette*/
@media all and (max-width: 810px) {

  #hebergement {
    flex-direction: column;
    height: auto;
   
  }

  .container {
    width: 100%;
  }


  

   .heber_:nth-child(1) {
    margin-top: 20px;
    margin-right: 0%;
    width: 100%;
    order: 2;

  }

 .popu_:nth-child(2) {
    order: 1;
width: 100%;
  }

  .local {

  width: 30%;
  }

.heber_card {
  margin: 0 5% 0 5%;
}



  .soleil,
  .eau,
  .bleu_blanc {
    margin-bottom : 2rem;
  }



  .marseille {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    gap: 10px 0px;
    flex-direction: column;

    grid-template-areas:
      "vieux_port"
      "pomegues"
      "frioul"
      "calanques"
      "garde"
      "longchamp";
  }

  .canneb,
  .mouette,
  .port,
  .mer,
  .panier,
  .amina {
    flex: 1 0 47%;
 
    margin-top: 4%;
  }

  
  .pomegues { 
    grid-area: 2 / 1 / 2 / 1;
    height: 255px; }
  
  .vieux_port { 
    grid-area: 1 / 1 / 2 / 1;
    height: 255px; }
  
  .frioul { 
    grid-area: 3 / 1 / 3 / 1;
    height: 255px; }
  
  .calanques { 
    grid-area: 4 /2 / 4 / 1;
height: 255px; }
  
  .garde { 
    grid-area: 5 / 1 / 5 / 1;
    height: 255px; }
  
  .longchamp { 
    grid-area: 6 / 1 / 6 / 1;
    height: 255px; }






  .txt_garde,
  .txt_calanques {
    font-size: 95%;
  }







/*Mobile*/
@media all and (max-width: 480px) {

.container {
  padding :unset;

}

header {
  flex-wrap: wrap;
}

#head {
  margin: 0 5% 0 5%;
}

  .logo_res {
    order: 1;
 margin-left: 5%;
  }
  
  .titre {
    margin-top: 30%;
  }
  
  .s_inscrire {
    order:1;
 width: 50%;
  }
  
  .boutons{
    order: 2;
width: 100%;
  }

  
.eco_,
.fam_,
.rom_,
.ani_ {
  width: 54%;
 margin: 5%;
 font-size: 85%;
}






 .heber_{
   width: 100%;
   border-radius: unset;
 }

 .heber_titre {
  margin: 25px;
 }

#Filtre_bouton {
  flex-direction: column;
}




.soleil,
.eau,
.bleu_blanc{
  object-fit: cover;
}

.txt_soleil,
.txt_eau,
.txt_bleu_blanc {
  padding: 0 0 0 25px;
}

.img_soleil,
.img_eau,
.img_bleu_blanc {
  height: 170px;
}











.ville_A {
  width: 100%;
  margin-left: 10px;
}

.rechercher {
  width: 45%;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0px 0px 10%;
  padding: 0% 10px 0 1px;

}

.local {
  width: 100%; 

}



.hebergements,
.activites {
 width: 50%;
 margin: 0;
 
}


.hebergements {

  height: 70%;

  border-bottom: 3px solid #0065FC;
  border-top: 0px;
}

.activites {

  height: 70%;
  border-bottom: 3px solid #f2f2f2;

}



.rechercher_txt {
  display: none;
}

.fas.fa-search {
display: block;
margin: 10px;
}

.popu_ {
border-radius: unset;

}

.popu_2 a {
  margin: 50px;
  
  }


.img_canneb,
.img_mouette,
.img_port,
.img_panier,
.img_amina {

  max-width: 100%;
}

  .canneb,
  .mouette,
  .port,
  .mer,
  .panier,
  .amina {
    flex: 1 0 100%;
    max-width: 100%;
  }

#activites_ {
  padding: 20px;

}


.marseille {
  gap:20px
  
}




  .propos {
    flex-direction: column;
  }



 

}


}